@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.quiz-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    overflow: hidden;
    width: 600px;
    max-width: 100%;
}

.quiz-header {
    padding: 2rem;
}

h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}
.q-t{
    display: flex;
    justify-content: space-between;
}

.countdown{
    position: relative;
    bottom: 80px;
    right: -140px;
    margin: auto;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 25px;
}
#countdown-number {
    color: #8e44ad;
    display: inline-block;
    line-height: 40px;
    font-weight: 400;
    position: relative;
    top: 80px;
    right: 96.5px;
}


ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}

button {
    background-color: #8e44ad;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 1.1rem;
    width: 100%;
    padding: 1.3rem;
}

button:hover {
    background-color: #732d91;
}

button:focus {
    background-color: #5e3370;
    outline: none;
}

.text-center {
    text-align: center;
}

.timer__container {
    display: flex;
    border: 2px solid #ddd;
    border-radius: 9px;
    width: auto;
    margin: 1rem 2rem;
}

#progressBar {
    background-color: #732d91;
    height: 10px;
    width: 0%;
    display: block;
    border-radius: 10px;
}

/* Modal - background */
#modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal__content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.closeBtn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeBtn:hover,
.closeBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.text-hint {
    font-size: 0.8rem;
    color: #bbb;
}
